<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ningyuan.pan.servicex.persistence.dao.UserDAO">
	<resultMap id="userMap" type="User">
		<id property="id" column="id"></id>
		<result property="firstName" column="firstName"></result>
		<result property="lastName" column="lastName"></result>
	
		<collection property="roles" ofType="role">
			<id property="id" column="rid"></id>
			<result property="name" column="rName"></result>
		</collection>
	</resultMap>
	
	<sql id="selectUser">
		SELECT
            u.id,
            u.firstName,
            u.lastName,
            r.id as rid,
            r.name as rName
        FROM
            user u
            	JOIN 
            user_role ur ON u.id = ur.uid
                JOIN 
            role r ON r.id = ur.rid
	</sql>
	
	<select id="findUserByID" resultMap="userMap" resultSetType="FORWARD_ONLY">
    	<include refid="selectUser"/>
        WHERE u.id=#{id}
    </select>
    
    <select id="findAllUser" resultMap="userMap" resultSetType="FORWARD_ONLY">
    	<include refid="selectUser"/>
    </select>
</mapper>