<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ningyuan.pan.servicex.persistence.dao.UserDAO">
	<resultMap id="userMap" type="User">
		<id property="id" column="id" jdbcType="BIGINT"></id>
		<result property="firstName" column="firstName" jdbcType="VARCHAR"></result>
		<result property="lastName" column="lastName" jdbcType="VARCHAR"></result>
		
		<!-- object property -->
		<!--  <association property="" javaType="">
    		<id property="" column="" jdbcType="" />
    		<result  property="" column="" jdbcType="" />
  		</association> --> 
  		
  		<!-- collection property -->
		<collection property="roles" ofType="role">
			<id property="id" column="rid"></id>
			<result property="name" column="rName"></result>
		</collection>
	</resultMap>
	
	<sql id="selectUser">
		SELECT
            u.id,
            u.firstName,
            u.lastName,
            r.id as rid,
            r.name as rName
        FROM
            user u
            	JOIN 
            user_role ur ON u.id = ur.uid
                JOIN 
            role r ON r.id = ur.rid
	</sql>
	
	<select id="findUserByID" parameterType="long" resultMap="userMap" resultSetType="FORWARD_ONLY">
    	<include refid="selectUser"/>
        WHERE u.id=#{id}
    </select>
    
    <select id="findAllUser" resultMap="userMap" resultSetType="FORWARD_ONLY">
    	<include refid="selectUser"/>
    </select>
    
    <insert id="add" parameterType="user">
    	INSERT INTO
    		user
    	VALUES (#{id}, #{firstName}, #{lastName});
    	
    	INSERT INTO
			user_role
		VALUES
		<foreach collection="roles" item="role" separator=",">
      		(#{id}, #{role.id})
      	</foreach>
	</insert>
	
	<delete id="delete" parameterType="long">
		DELETE FROM
			user
		WHERE 
			id = #{id};
		
		<!-- cascade delete attached roles (can be set in database) -->
		DELETE FROM
			user_role
		WHERE
			uid = #{id}
	</delete>
	
	<update id="update"  parameterType="role">
         UPDATE
         	user
         SET
         	firstName = #{firstName},
         	lastName = #{lastName}
         WHERE
         	id = #{id};
         	
         DELETE FROM
			user_role
		 WHERE
			uid = #{id};
		
		 INSERT INTO
			user_role
		 VALUES
		 <foreach collection="roles" item="role" separator=",">
      	    (#{id}, #{role.id})
      	 </foreach>
    </update>
</mapper>