<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />  
		<setting name="lazyLoadingEnabled" value="true" /> 
		<!-- the name of table column using underscore can be matched to 
			 name of java attribute using camel case -->
		<setting name="mapUnderscoreToCamelCase" value="true"/> 
	</settings>
	
	<!-- alias is used in xml configuration file -->
	<typeAliases>
		<!-- scan the package contains entity with or without alias annotation -->
  		<!--  <package name="ningyuan.pan.servicex.persistence.entity"/> -->
  		
  		<typeAlias alias="user" type="ningyuan.pan.servicex.persistence.entity.User" />  
  		<typeAlias alias="role" type="ningyuan.pan.servicex.persistence.entity.Role" />  
	</typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- orm mapping files -->
  	<mappers>
    	<mapper resource="conf/mybatis/userMapper.xml"/>
    	<mapper resource="conf/mybatis/roleMapper.xml"/>
  	</mappers>
</configuration>